services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"

  api:
    build: .
    container_name: api
    depends_on:
      - ollama
    ports:
      - "5000:5000"
